.file_item {
  list-style: none;
  margin: 1.2em 0;
  background-color: var(--secondary-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1.2em 1.5em;
  background-color: var(--light-grey);
}

.file_item svg {
  color: var(--main-color);
}

.file_item svg:first-child {
  font-size: 1.2em;
  margin-right: 0.8em;
}

.file_item p {
  flex: 1;
  font-size: 0.9rem;
}

.file_item .actions {
  justify-self: flex-end;
  cursor: pointer;
}

.file_item .actions .fa-spinner {
  font-size: 1.2em;
}