.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.users_head {
    display: flex;
    justify-content: space-between;
}

.users_head p {
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    letter-spacing: 1.5px;
}


.add {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    border-radius: 5px;
    line-height: 36px;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
    background-color: #ecefff;
    color: var(--main-color);
}

.add:hover {
    transform: scale(1.2);
}