body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
    width: 100%;
    /* margin: 0; */
}
.header .logo{
 width: 12%;
}
 .header .logo img{
    width: 100%;
  }
   .header .rightSection{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    padding: 0 5px;
    border-radius: 15px;
  }
   .header .rightSection .pageNameWithMenu{
    display: flex;
    width: 12%;
    align-items: center;
    justify-content: space-around;
    
  }
   .header .rightSection .icons{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-around;
    /* background-color: red; */
  }
  body{
    padding: 0;
    margin: 0;
   }
   .container{
      background-color: rgba(255, 255, 255, 0.4);
      width: 100%;
      /* height: 100vh; */
   }
   .container .content{
     display: flex;
     /* align-items: center; */
     justify-content: space-between;
   }
   .container .sidebar{
     /* background-color: aqua; */
     width: 17%;
   }
     .container .sidebar .above{
       background-color: #084C61;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       width: 100%;
       margin: 0;
       padding: 8px 0;
       border-radius: 0 60px 60px 0;
     }
     .container .sidebar .above .arrow{
      width: 20%;
      margin: 0 25px;
     }
     .container .sidebar .above div{
       display: flex;
       /* background-color: aqua; */
       margin: 0 auto;
       width: 70%;
       height: 50px;
       align-items: center;
       justify-content:flex-start;
       gap: 10px;
     }
     .container .sidebar .above div h3{
       font-size: 18px;
        color: white;
        font-family: 'Sofia Sans Extra Condensed', sans-serif;
     }
     .container .sidebar .above .username{
       display: flex;
       /* margin: 0; */
       width: 70%;
       /* justify-content: space-between; */
       margin-bottom: 5px;
      }
      .container .sidebar .above .username img{
        width: 25%;
        /* height: 70%; */
      }
      .container .sidebar .above .username h3{
        width: 40%;
        font-size:16px;
        color: white;
        /* background-color: aqua; */
      }
      .container .sidebar .targetDiv{
       display: flex;
       align-items: center;
       height: 50px;
       background-color: #084C61;
       width: 80%;
       justify-content: flex-end;
      }
     
      .container .sidebar .targetDiv .nestedDiv{
       display: flex;
       background-color: white;
       /* margin: 0 auto; */
       width: 80%;
       height: 100%;
       align-items: center;
       justify-content:flex-start;
       gap: 5px;
       padding-left: 15px;
       border-radius: 30px 0 0 30px;
      }
      .container .sidebar .targetDiv .nestedDiv h3{
        color: #084C61;
        font-size: 16px;
        font-family: 'Sofia Sans Extra Condensed', sans-serif;
      }
      .container .sidebar .below{
       background-color: #084C61;
       border-radius: 0 60px 60px 0;
      }
      .container .sidebar .below img{
       width: 80%;
       height: 50%;
       margin: auto;
      }
      .container .body{
       display: flex;
       flex-direction: column;
       width: 70%;
       margin: 0 auto;
      }
      .container .body .publishPost{
       position: relative;
       width: 100%;
       background-color: #F1F2F7;
       border-radius: 30px;
       margin-bottom: 25px;
       box-shadow: 0 25px 25px -12px rgba(224, 224, 236, 0.25);
      }
      .container .body .publishPost .title{
       width: 100%;
       border-bottom: solid 2px white;
       margin: 0 10px;
       /* background-color: aqua; */
      }
      .container .body .publishPost .title p{
       font-size: 18px;
       font-family: 'Sofia Sans Extra Condensed', sans-serif;
       color: #084C61;
     }
     .container .body .publishPost .publish{
       display: flex;
       align-items: center;
       gap: 5px;
       width: 100%;
       height: auto;
       margin: 0 10px;
       cursor: pointer;
     }
     .container .body .publishPost .publish img{
       width: 3%;
       height: 40%;
     }
     .container .body .publishPost .publish p{
       font-family: 'Sofia Sans Extra Condensed', sans-serif;
       color: #084C61;
       font-size: 16px;
     }
     .container .body .post{
       border-radius: 30px;
       border: 2px #084C61 solid;
       background-color: #F1F2F7;
       width: 100%;
       overflow: hidden;
       margin-bottom: 25px;
       /* padding: 0 10px; */
     }
     .container .body .post .username{
       display: flex;
       align-items: center;
       gap: 5px;
       margin: 0 10px;
       /* background-color: red; */
     }
     .container .body .post .username img{
       width: 4%;
       /* height: 20%; */
     }
     .container .body .post .username h3{
       font-family: 'Sofia Sans Extra Condensed', sans-serif;
       color: #084C61;
       font-size: 18px;
     }
     .container .body .post .postContent{
       /* background-color: aqua; */
       width: 95%;
       margin: auto;
       border-bottom: white 2px solid;
     }
     .container .body .post .postContent p{
       font-family: 'Sofia Sans Extra Condensed', sans-serif;
       color: #084C61;
       font-size: 18px;
     }
     .container .body .post .reactsAndComments{
       display: flex;
       width: 95%;
       align-items: center;
       margin: 0 auto;
       justify-content: space-between;
     }
     .container .body .post .reactsAndComments .react{
       display: flex;
       align-items: center;
     }
     .container .body .post .reactsAndComments .comments{
       display: flex;
       align-items: center;
     }
     .container .body .post .writeComment{
       display: flex;
       align-items: center;
       gap: 5px;
       width: 100%;
       padding: 0 10px;
       /* margin: 0 auto; */
       box-shadow: inset 5px 5px 10px rgba(22, 27, 29, 0.12),inset -5px -5px 10px rgba(250, 251, 255, 0.8);
     }
     .container .body .post .writeComment img{
       width: 3%;
       height: 10%;
     }
     .container .body .post .writeComment p{
       font-family: 'Sofia Sans Extra Condensed', sans-serif;
       color: #084C61;
       font-size: 16px;
     }
     .container .body .publishPost .sectionToPublish{
       position: absolute;
       top: 0;
       left: -6px;
       background-color: white;
       width: 97%;
       border-radius: 50px;
       z-index: 9999999;
       padding: 10px 22px;
       display: none;
       box-shadow: inset 5px 5px 10px rgba(22, 27, 29, 0.12),inset -5px -5px 10px rgba(77, 92, 97, 0.12);
     
     }
     .container .body .publishPost .sectionToPublish .createExit{
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-bottom: 2px #F1F2F7 solid;
     }
     .container .body .publishPost .sectionToPublish .createExit p{
       font-family: 'Sofia Sans Extra Condensed', sans-serif;
       color: #084C61;
       font-size: 20px;
     }
     .container .body .publishPost .sectionToPublish .createExit img{
       cursor: pointer;
     }
     .container .body .publishPost .sectionToPublish .userInfo{
       display: flex;
       align-items: center;
       gap: 5px;
       /* background-color: red; */
       width: 98%;
       margin: auto;
      }
      .container .body .publishPost .sectionToPublish .userInfo img{
       width: 4%;
      }
      .container .body .publishPost .sectionToPublish .userInfo p{
       font-family: 'Sofia Sans Extra Condensed', sans-serif;
       color: #084C61;
       font-size: 20px;
      }
      .container .body .publishPost .sectionToPublish .writePost{
       background-color: #F1F2F7;
       width: 95%;
       margin: 0 auto;
       padding: 10px 15px;
       border-radius: 20px;
       display: flex;
       flex-direction: column;
       gap: 20px;
       font-family: 'Sofia Sans Extra Condensed', sans-serif;
       color: #084C61;
       box-shadow: inset 5px 5px 10px rgba(22, 27, 29, 0.12),inset -5px -5px 10px rgba(250, 251, 255, 0.8);
     }
     .container .body .publishPost .sectionToPublish .writePost p{
       font-size: 20px;
     }
     .container .body .publishPost .sectionToPublish .writePost .addImage{
       display: flex;
       align-items: center;
       justify-content: space-between;
       background-color: white;
       padding: 0px 10px;
       border-radius: 10px;
     }
     .container .body .publishPost .sectionToPublish .writePost .addImage p{
       font-size: 18px;
     }
     .container .body .publishPost .sectionToPublish .button{
       /* background-color: red; */
       width: 100%;
       display: flex;
       justify-content: center;
     }
     .container .body .publishPost .sectionToPublish .button button{
       background-color: #084C61;
       color: white;
       border: none;
       outline: none;
       width: 25%;
       border-radius: 10px;
       font-family: 'Sofia Sans Extra Condensed', sans-serif;
       font-size: 22px;
       margin: 20px 0px;
       padding: 5px 10px;
     }