.question_container {
    background-color: var(--light-grey);
    margin: 40px 20px 0;
    border-radius: 21px;
    height: auto;
    width: calc(100% - 300px);
    box-shadow: var(--grey-shadow);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width:930px){
    .question_container{
        width:96%;
    }
}

[dir="ltr"] .question_container{
    padding: 20px 0 20px 20px;
}
[dir="rtl"] .question_container{
    padding: 20px 20px 20px 0;
}

[dir="ltr"] .description{
    margin-left: 20px;
}
[rtl="ltr"] .question_container{
    padding: 20px 0 20px 20px;
}



@media(max-width:930px){
    .main-section .question-container{
        width: 95%;
    }
}


/* ! OPTION */

.options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option {
    padding: 30px;
    background-color: var(--white);
    margin-bottom: 20px;
    width: 70%;
    border-radius: 50px;
    position: relative;
    transition: var(--transition);
    z-index: 10;
    overflow: hidden;
}

.option:before,
.option:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index: -99;
}

.option::before {
    transform: rotate(5deg);
}

.option::after {
    transform: rotate(2deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.option:hover {
    background-color: var(--main-color);
    color: var(--main-color);
}

/* ! DATE */

.date_question_container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
}

[dir="ltr"] .date_question_container{
    margin-right: 15px;
}
[dir="rtl"] .date_question_container{
    margin-left: 15px;
}

.date_question_container p {
    color: var(--main-color);
    font-size: 15px;
}


.question_container p.description{
    margin-top: 10px;
}

.question_container p {
    color: var(--main-color);
}

.question_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right{
    display: flex;
    flex-direction: column;
    width: fit-content;
}