.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:var(--main-color);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
}

.bin_top {
    transform-origin: bottom right;
}

.button:hover .bin_top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
}