.Questionflag {
    width: 275px;
    background-color: var(--light-grey);
    padding: 15px 30px;
    margin-top: 30px;
    border-radius: 19px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Questionflag ul {
    display: flex;
    flex-wrap: wrap;
}

.Questionflag ul li {
    margin: 5px;
    padding: 5px 10px;
    background-color: white;
    color: var(--main-color);
    border-radius: 10px;
    cursor: pointer;
}