.responses,
.responses_quiz {
    background-color: var(--white);
    padding: 20px 0;
    border-radius: 21px;
    overflow-y: auto;
    border: 4px solid var(--secondry-color);
    z-index: 1000000000000000;
    position: relative;
    margin-top: 15px;
    text-align: center;
}

.responses {
    width: 350px;
}

.responses_quiz {
    width: 275px;
}


[dir="rtl"] .responses {
    box-shadow: var(--main-arabic-shadow);
    margin-right: 10px;
    padding-left: 10px;
}

[dir="ltr"] .responses {
    box-shadow: var(--main-shadow);
    margin-left: 10px;
    padding-right: 10px;
}