.main-section .question-container {
    background-color: var(--light-grey);
    padding: 20px 0 20px 20px;
    margin: 40px 20px 0;
    border-radius: 21px;
    height: auto;
    width: calc(100% - 300px);
    box-shadow: var(--grey-shadow);
    position: relative;
    display: flex;
    flex-direction: column;
}


@media(max-width:930px){
    .main-section .question-container{
        width: 95%;
    }
}
