.page .content .material .week1,
.page .content .material .week2 {
    background-color: var(--light-grey);
    box-shadow: var(--main-shadow);
    border-radius: 8px;
}

.page .content .material .week1 .head,
.page .content .material .week2 .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    transition: var(--transition);
}

/* * HOVER */
.page .content .material .week1 .head:hover,
.page .content .material .week2 .head:hover {
    background-color: var(--main-color);
}

/* * HOVER */

.page .content .material .week1 .head .info,
.page .content .material .week2 .head .info {
    display: flex;
    align-items: center;
}


.page .content .material .week1 .head .info .num,
.page .content .material .week2 .head .info .num {
    font-weight: bold;
    font-size: 30px;
    color: var(--secondry-color);
    margin-right: 30px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .content .material .week1 .head .info .num::before,
.page .content .material .week2 .head .info .num::before {
    counter-increment: Numbers;
    content: counter(Numbers);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
    border: solid 4px var(--secondry-color);
    z-index: -1;
    left: 0;
}

.page .content .material .week1 .head .info .week,
.page .content .material .week2 .head .info .week {
    margin-left: 30px;
    font-size: 20px;
    color: var(--main-color);
    font-weight: bolder;
    transition: var(--transition);
}

/* *HOVER */
.page .content .material .week1 .head:hover .info .week,
.page .content .material .week2 .head:hover .info .week {
    color: var(--light-grey);
}

/* *HOVER */

.page .content .material .week1 .head .icon,
.page .content .material .week2 .head .icon,
.page .content .material .week2 .data .icon{
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.page .content .material .week1 .head .fa-caret-up,
.page .content .material .week2 .head .fa-caret-up,
.page .content .material .week2 .data .fa-caret-up, 
.page .content .material .week1 .head .fa-caret-down,
.page .content .material .week2 .head .fa-caret-down,
.page .content .material .week2 .data .fa-caret-down{
    font-size: 40px;
    color: var(--main-color);
}

.page .content .material .week1 .head .fa-plus,
.page .content .material .week2 .head .fa-plus,
.page .content .material .week2 .data .fa-plus{
    color: var(--main-color);
    margin-right: 10px;
    font-size: 22px;
}

/* *HOVER */
.page .content .material .week1 .head:hover .fa-caret-up,
.page .content .material .week2 .head:hover .fa-caret-up,
.page .content .material .week2 .data:hover .fa-caret-up, 
.page .content .material .week1 .head:hover .fa-caret-down,
.page .content .material .week2 .head:hover .fa-caret-down,
.page .content .material .week2 .data:hover .fa-caret-down{
    color: var(--light-grey);
}

/* *HOVER */

.page .content .material .wek:not(:first-child) {
    margin-top: 35px;
}

/* *week 2 */

.page .content .material .week2 {
    height: auto;
    padding-bottom: 20px;
}

.page .content .material .week2 .data .mat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    margin: 0 20px;
    padding: 15px;
    border-radius: 14px;
    margin-top: 15px;
}

/* *HOVER */
.page .content .material .week2 .data .mat:hover {
    background-color: var(--main-color);
}

/* *HOVER */


.page .content .material .week2 .data .mat p {
    font-size: 18px;
    color: var(--main-color);
    transition: var(--transition);
}

/* *HOVER */
.page .content .material .week2 .data .mat:hover p {
    color: var(--light-grey);
}

/* *HOVER */

/* *week 2 */


/* *week3 */

.page .content .material .week2 .data .main .mat-details {
    background-color: var(--white);
    margin: 0 50px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.page .content .material .week2 .data .main .mat-details .mat-det {
    display: flex;
    align-items: center;
    padding: 15px;
}

.page .content .material .week2 .data .main .mat-details .mat-det i {
    font-size: 14px;
    color: var(--main-color);
    margin-right: 15px;
}

.page .content .material .week2 .data .main .mat-details .mat-det p {
    color: var(--main-color);
}

/* *week3 */


/* !RESPONSIVE */

@media(max-width:615px){
    .page .content .material .week1 .head .info .week,
    .page .content .material .week2 .head .info .week {
        font-size: 15px;
    }

    .page .content .material .week2 .data .mat p {
        font-size: 13px;
    }

    .page .content .material .week2 .data .main .mat-details .mat-det p{
        font-size: 12px;
    }
}
