.page .page-content .weeks .week1,
.page .page-content .weeks .week2 {
    background-color: var(--light-grey);
    box-shadow: var(--main-shadow);
    border-radius: 8px;
}

.page .page-content .weeks .week1 .week-head,
.page .page-content .weeks .week2 .week-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    transition: var(--transition);
}

/* * HOVER */
.page .page-content .weeks .week1 .week-head:hover,
.page .page-content .weeks .week2 .week-head:hover {
    background-color: var(--main-color);
}

/* * HOVER */

.page .page-content .weeks .week1 .week-head .week-title,
.page .page-content .weeks .week2 .week-head .week-title {
    display: flex;
    align-items: center;
}


.page .page-content .weeks .week1 .week-head .week-title .num,
.page .page-content .weeks .week2 .week-head .week-title .num {
    font-weight: bold;
    font-size: 30px;
    color: var(--secondry-color);
    margin-right: 30px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .page-content .weeks .week1 .week-head .week-title .num::before,
.page .page-content .weeks .week2 .week-head .week-title .num::before {
    counter-increment: Numbers;
    content: counter(Numbers);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
    border: solid 4px var(--secondry-color);
    z-index: -1;
    left: 0;
}

.page .page-content .weeks .week1 .week-head .week-title p:last-child,
.page .page-content .weeks .week2 .week-head .week-title p:last-child{
    margin-left: 30px;
    font-size: 20px;
    color: var(--main-color);
    font-weight: bolder;
    transition: var(--transition);
}

/* *HOVER */
.page .page-content .weeks .week1 .week-head:hover .week-title p:last-child,
.page .page-content .weeks .week2 .week-head:hover .week-title p:last-child{
    color: var(--light-grey);
}

/* *HOVER */

.page .page-content .weeks .week1 .week-head i,
.page .page-content .weeks .week2 .week-head i,
.page .page-content .weeks .week2 .week-content .material i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--main-color);
    transition: var(--transition);
}

/* *HOVER */
.page .page-content .weeks .week1 .week-head:hover i,
.page .page-content .weeks .week2 .week-head:hover i,
.page .page-content .weeks .week2 .week-content .material:hover i {
    color: var(--light-grey);
}

/* *HOVER */

.page .page-content .weeks .week:not(:first-child) {
    margin-top: 35px;
}

/* *week 2 */

.page .page-content .weeks .week2 {
    height: auto;
    padding-bottom: 20px;
}

.page .page-content .weeks .week2 .week-content .material {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    margin: 0 20px;
    padding: 15px;
    border-radius: 14px;
    margin-top: 15px;
}

/* *HOVER */
.page .page-content .weeks .week2 .week-content .material:hover {
    background-color: var(--main-color);
}

/* *HOVER */


.page .page-content .weeks .week2 .week-content .material p {
    font-size: 18px;
    color: var(--main-color);
    transition: var(--transition);
}

/* *HOVER */
.page .page-content .weeks .week2 .week-content .material:hover p {
    color: var(--light-grey);
}

/* *HOVER */

/* *week 2 */


/* *week3 */

.page .page-content .weeks .week2 .week-content .main .material-files {
    background-color: var(--white);
    margin: 0 50px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.page .page-content .weeks .week2 .week-content .main .material-files .material-file {
    display: flex;
    align-items: center;
    padding: 15px;
}

.page .page-content .weeks .week2 .week-content .main .material-files .material-file i {
    font-size: 14px;
    color: var(--main-color);
    margin-right: 15px;
}

.page .page-content .weeks .week2 .week-content .main .material-files .material-file p {
    color: var(--main-color);
}

/* *week3 */


/* !RESPONSIVE */

@media(max-width:615px){
    .page .page-content .weeks .week1 .week-head .info .week,
    .page .page-content .weeks .week2 .week-head .info .week {
        font-size: 15px;
    }

    .page .page-content .weeks .week2 .week-content .material p {
        font-size: 13px;
    }

    .page .page-content .weeks .week2 .week-content .main .material-files .material-file p{
        font-size: 12px;
    }
}
