.upload_card{
    width: 100%;
    height: 150px;
    border: 3px dashed #cbd5e0;
    background-color: #edf2f7;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customFileInput{
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.fileInput{
    display: none;
}

.browse{
    
}
