/* ! START MAIN MODAL  */
.modal {
    padding: 2%;
    width: 35%;
    height: 660px;
    border: none;
    border-radius: 10px;
    box-shadow: var(grey-shadow);
    animation: fade-slide-in-from-top 0.3s ease-in-out;
    margin: auto;
    position: relative;
    color: var(--main-color);
}


@media (max-width:1100px) {
    .modal {
        width: 50%;
    }
}

@media (max-width:768px) {
    .modal {
        width: 85%;
    }
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.65);
}

/* ! END MAIN MODAL  */



/* ! QUESTION */
.question {
    margin: 30px 0 0 0;
    border: 2px dashed var(--main-color);
    padding: 15px;
    border-radius: 8px;
}

/* ! QUESTION */


/* ! START ACTIONS*/

.actions {
    margin-top: 10px;
}

[dir="ltr"] .actions {
    display: flex;
    justify-content: flex-end;
}

[dir="rtl"] .actions {
    display: flex;
    justify-content: flex-end;
}


.actions button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
}

.actions button:first-child {
    background-color: white;
    border: 1px solid #FF2849;
    color: #FF2849;
}

[dir="rtl"] .actions button:first-child {
    margin-left: 10px;
}

[dir="ltr"] .actions button:first-child {
    margin-right: 10px;
}

.actions button:last-child {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: white;
}


.actions button:first-child::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.actions button:first-child::after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #FF2849;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.actions button:first-child:hover {
    color: #ffffff;
    border: 1px solid #FF2849;
}

/* .actions button:hover::before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
} */

.actions button:hover::after {
    top: -45%;
    background-color: #FF2849;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* ! END ACTIONS BUTTON  */

/*! START ADD BUTTON */

.add_button {
    display: flex;
    align-items: center;
    color: var(--main-color);
    margin-top: 10px;
    cursor: pointer;
}

[dir="rtl"] .add_button p {
    margin-right: 5px;
}

[dir="ltr"] .add_button p {
    margin-left: 5px;
}

/*! END ADD BUTTON */

@keyframes fade-slide-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


textarea {
    width: 100%;
    resize: none;
    padding: 20px 10PX;
    caret-color: var(--main-color);
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    box-shadow: var(--inset-input-shadow)
}


textarea:focus {
    outline: none;
}

.question_container {
    position: relative;
}

.x_icon_ques,
.question_index {
    color: white;
    background-color: var(--main-color);
    padding: 7px;
    display: flex;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    cursor: pointer;
}

[dir="rtl"] .x_icon_ques {
    left: 16px;
}

[dir="ltr"] .x_icon_ques {
    right: 16px;
}

[dir="rtl"] .question_index {
    right: 16px;
}

[dir="ltr"] .question_index {
    left: 16px;
}

.option {
    position: relative;
}

.x_icon {
    color: var(--main-color);
    position: absolute;
    top: 27px;
    cursor: pointer;
}

[dir="ltr"] .x_icon {
    right: 20px;
}

[dir="rtl"] .x_icon {
    left: 20px;
}



.row {
    display: flex;
    justify-content: space-between;
}

.input_container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 48%;
}

.mark {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
}

@media (max-width: 530px) {
    .row {
        flex-direction: column;
    }

    .input_container {
        width: 100%;
    }
}

.input_container input,
.input_container select,
.input input,
.mark input {
    padding: 9px 10PX;
    caret-color: var(--main-color);
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    box-shadow: var(--inset-input-shadow);
    color: var(--main-color);
}

.input_container input[type="number"]::-webkit-inner-spin-button,
.input_container input[type="number"]::-webkit-outter-spin-button,
.mark input[type="number"]::-webkit-inner-spin-button,
.mark input[type="number"]::-webkit-outter-spin-button {
    display: none;
}

.submit_button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.input_container input[type="date"] {
    padding: 0px 0px 0px 20px;
    font-size: 14px;
    color-scheme: dark;
    background-color: var(--grey-color);
    color: var(--main-color);
}

.input_container input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 15px;
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 18px;
}


/* *INPUT TYPE==>TIME */

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
.input_container input[type="time"]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
.input_container input[type="time"]::-webkit-datetime-edit-text {
    padding: 8px 5px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
.input_container input[type="time"]::-webkit-datetime-edit-hour-field {
    /* background-color: var(--main-color);
    color: white; */
    border: var(--main-color) 1px solid;
    color: var(--main-color);
    border-radius: 8%;
    padding: 8px 4px;
}

/* Minute */
.input_container input[type="time"]::-webkit-datetime-edit-minute-field {
    border: var(--main-color) 1px solid;
    color: var(--main-color);
    border-radius: 8%;
    padding: 8px 4px;
}

/* AM/PM */
.input_container input[type="time"]::-webkit-datetime-edit-ampm-field {
    /* background-color: var(--main-color); */
    color: var(--main-color);
    border-radius: 8%;
    padding: 8px 4px;

}

/* 'X' button for resetting/clearing time */
.input_container input[type="time"]::-webkit-clear-button {
    display: none;
}

/* *INPUT TYPE==>TIME */

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}