.vs_navigation_bar {
    background-color: var(--white);
    width: 350px;
    padding: 20px 0;
    border-radius: 21px;
    height: 560px;
    overflow-y: auto;
    border: 4px solid var(--secondry-color);
    z-index: 1000000000000000;
    position: relative;

}

[dir='ltr'] .vs_navigation_bar {
    box-shadow: var(--main-shadow);
    margin-left: 10px;
    padding-right: 10px;
}

[dir='rtl'] .vs_navigation_bar {
    box-shadow: var(--main-arabic-shadow);
    margin-right: 10px;
    padding-left: 10px;
}

.vs_navigation_bar .add_survey {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.vs_navigation_bar .icon_square {
    flex-shrink: 0;
}

[dir='rtl'] .vs_navigation_bar .add_survey .icon {
    margin-left: 10px;
    margin-right: 10px;
}

[dir='ltr'] .vs_navigation_bar .add_survey .icon {
    margin-right: 10px;
    margin-left: 10px;
}

.box_wrapper {
    display: flex;
    align-items: center;
}

.vs_navigation_bar li {
    padding: 20px;
    background-color: var(--light-grey);
    margin: 15px 10px;
    border-radius: 21px;
    transition: var(--transition);
    position: relative;
    word-wrap: normal;
    min-height: 80px;
    width: 300px;
    /* Fixed width for boxes */
}

.changeWidth {
    width: 80%;
}

.vs_navigation_bar li .title_wrapper {
    color: var(--main-color);
    display: flex;
    align-items: center;
}

.vs_navigation_bar li .info {
    display: block;
    margin-bottom: 10px;
}

[dir='ltr'] .vs_navigation_bar li .info {
    margin-left: 10px;
}

[dir='rtl'] .vs_navigation_bar li .info {
    margin-right: 10px;
}

.vs_navigation_bar li .info span.name {
    overflow-wrap: break-word;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}

span.title {
    display: block;
    word-break: break-all;
}

[dir='ltr'] .vs_navigation_bar li .info span.name {
    right: 15px;
}

[dir='rtl'] .vs_navigation_bar li .info span.name {
    left: 15px;
}

/* Hover Styles */
.vs_navigation_bar li:hover {
    background-color: var(--main-color);
}

.vs_navigation_bar li:hover span {
    color: var(--white);
}

.vs_navigation_bar li:hover .icon_square {
    color: var(--white);
}

.edit_button {
    margin-bottom: 10px;
}

.edit_delete {
    display: flex;
    align-items: center;
    gap: 2px;
}

@media(max-width:930px) {
    .vs_navigation_bar {
        display: none;
    }
}

.vs_navigation_bar_responsive {
    display: none;
}

@media(max-width:930px) {
    .main-section .vs_navigation_bar {
        display: none;
    }

    .vs_navigation_bar_responsive {
        display: flex;
        box-shadow: var(--main-shadow);
        overflow-x: auto;
        height: 155px;
        width: 88%;
        border-radius: 20px;
        padding-top: 15px;
        flex-direction: column;
        overflow-y: scroll;
    }

    .titles_wrapper {
        display: flex;
        overflow-x: auto;
        height: 110px;
        width: 88%;
        border-radius: 20px;
        padding-top: 15px;
        flex-direction: column;
    }

    .vs_navigation_bar_responsive::-webkit-scrollbar {
        width: 10px;
        /* Make the scrollbar visible */
    }

    .vs_navigation_bar_responsive .box {
        width: 200px;
        /* Fixed width for boxes */
        /* height: 80px; */
        word-wrap: break-word;
        background-color: var(--light-grey);
        padding: 15px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--main-color);
    }

    [dir="ltr"] .vs_navigation_bar_responsive .box {
        margin-right: 10px;
    }

    [dir="rtl"] .vs_navigation_bar_responsive .box {
        margin-left: 10px;
    }

    .vs_navigation_bar_responsive .box p:last-child {
        align-self: flex-end;
    }

    .vs_navigation_bar_responsive .add_survey {
        display: flex;
        align-items: center;
        color: var(--main-color);
        margin-top: 10px;
    }

    [dir="ltr"] .vs_navigation_bar_responsive .add_survey {
        margin-left: 10px;
    }

    [dir="rtl"] .vs_navigation_bar_responsive .add_survey {
        margin-right: 10px;
    }

    [dir='rtl'] .vs_navigation_bar_responsive .add_survey .icon {
        margin-left: 10px;
    }
}