/* ! START MAIN MODAL  */
.modal {
    padding: 2%;
    width: 35%;
    border: none;
    border-radius: 10px;
    box-shadow: var(grey-shadow);
    animation: fade-slide-in-from-top 0.3s ease-in-out;
    margin: auto;
    position: relative;
    color: var(--main-color);
}

@media (max-width:1100px) {
    .modal {
        width: 50%;
    }
}

@media (max-width:768px) {
    .modal {
        width: 85%;
    }
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.65);
}

/* ! END MAIN MODAL  */



/* ! RADIO BUTTON  */
/* 
.radio input {
    display: none;
}


.radio input:checked+.radio_circle::before {
    box-shadow: inset 0 0 0 0.4375em var(--main-color);
}


.radio .radio_circle::before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em var(--main-color);
}


.radio .radio_container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.radio .display{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}
 */

/* ********************************** */


/* @media (max-width:425px){
    .radio .radio_circle::before{
        height: 1em;
        width: 1em;
    }
    .radio input:checked+.radio_circle::before {
        box-shadow: inset 0 0 0 0.3em var(--main-color);
    }
}
 */


/* ! RADIO BUTTON  */

.button {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    border: 2px var(--main-color) dashed;
    transition: 0.4s;
    color: var(--main-color);
}

.button:hover {
    background-color: var(--main-color);
    color: white;
}


/* ! INPUT CONTAINER */
.input_container {
    display: flex;
    flex-direction: column;
    color: var(--main-color);
}

.input_container label {
    margin-top: 8px;
}

.input_container input[type="text"],
.input_container input[type="time"],
.input_container input[type="date"],
.input_container input[type="number"] {
    padding: 9px 10PX;
    caret-color: var(--main-color);
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    box-shadow: var(--inset-input-shadow);
    color: var(--main-color);
    width: 100%;
}

.input_container input[type="number"]::-webkit-inner-spin-button,
.input_container input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

.input_container input[type="date"] {
    padding: 0px 0px 0px 20px;
    color-scheme: dark;
}

.input_container input:focus {
    outline: none;
}

[dir='rtl'] .col .input_container:first-child {
    margin-left: 50px;
}

[dir='ltr'] .col .input_container:first-child {
    margin-right: 50px;
}


/* *INPUT TYPE==>TIME */

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
.input_container input[type="time"]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
.input_container input[type="time"]::-webkit-datetime-edit-text {
    padding: 8px 5px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
.input_container input[type="time"]::-webkit-datetime-edit-hour-field {
    /* background-color: var(--main-color);
    color: white; */
    border: var(--main-color) 1px solid;
    color: var(--main-color);
    border-radius: 8%;
    padding: 8px 4px;
}

/* Minute */
.input_container input[type="time"]::-webkit-datetime-edit-minute-field {
    border: var(--main-color) 1px solid;
    color: var(--main-color);
    border-radius: 8%;
    padding: 8px 4px;
}

/* AM/PM */
.input_container input[type="time"]::-webkit-datetime-edit-ampm-field {
    /* background-color: var(--main-color); */
    color: var(--main-color);
    border-radius: 8%;
    padding: 8px 4px;

}

/* 'X' button for resetting/clearing time */
.input_container input[type="time"]::-webkit-clear-button {
    display: none;
}

/* *INPUT TYPE==>TIME */

/* ? INPUT TYPE==>DATE */

.input_container input[type="date"] {
    padding: 0px 0px 0px 20px;
    font-size: 14px;
    color-scheme: dark;
    background-color: var(--grey-color);
    color: var(--main-color);
}

.input_container input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 15px;
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 18px;
}

/* ? INPUT TYPE==>DATE */

/* ! INPUT CONTAINER */

/* !TEXTAREA */

.description {
    margin: 15px 0;
}

/* !TEXTAREA */



@keyframes fade-slide-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}