.track_responses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    z-index: 10000;
}

.tracking {
    display: flex;
    justify-content: center;
    width: 90%;
}

.head {
    display: flex;
    flex-direction: column;
}

.head p {
    font-size: 15px;
}

.tracking a {
    text-align: center;
    padding: 20px;
    background-color: var(--light-grey);
    color: var(--main-color);
    transition: var(--transition);
}

[dir='ltr'] .tracking a {
    box-shadow: var(--main-shadow);
}

[dir='rtl'] .tracking a {
    box-shadow: var(--main-arabic-shadow);
}

.tracking a:hover,
.tracking a.active {
    background-color: var(--main-color);
    color: var(--white);
}

[dir='ltr'] .tracking a:first-child,
[dir='rtl'] .tracking a:last-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

[dir='rtl'] .tracking a:first-child,
[dir='ltr'] .tracking a:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* ! TABLE */

.table_wrapper {
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 550px;
    overflow-y: auto;
    position: relative;
}

.table {
    margin-top: 15px;
    background-color: var(--light-grey);
    border-radius: 32px;
    width: 98%;
    /* height: %; */
    z-index: 100;
    border-collapse: collapse;
}

.table td {
    padding: 10px;
    text-align: center;
}

.table thead {
    padding: 10px 0;
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
    border-top-left-radius: 20px;
    position: sticky;
    top: 0;
    /* Keep the header at the top */
    background-color: white;
    /* Ensure the background is opaque */
    z-index: 1;
    /* Ensure the header is above the table rows */
}

.table th {
    width: 15%;
    color: var(--main-color);
}


.table tr:nth-of-type(2) {
    margin-top: 20px;
}

.table tbody tr {
    height: 85px;
}

.table tbody tr:nth-child(odd) {
    background-color: white;
}

.table tbody tr:last-child {
    background-color: none;
}

[dir="rtl"] .table {
    box-shadow: var(--main-arabic-shadow)
}

[dir="ltr"] .table {
    box-shadow: var(--main-shadow);
}


.mark .icon {
    height: fit-content;
}

.mark .button,
.input {
    margin-right: 10px;
    padding: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: var(--light-grey);
    box-shadow: var(--main-shadow);
    border: 3px solid var(--secondry-color);
    color: var(--main-color);
    cursor: pointer;
    transition: 0.4S;
}

[dir="ltr"] .mark .button,
.input {
    box-shadow: var(--main-shadow);
}

[dir="rtl"] .mark .button,
.input {
    box-shadow: var(--main-arabic-shadow);
}

.button {
    width: 41px;
    height: 41px;
    border-radius: 30%;
    align-self: center;
}

.input {
    width: 100px;
    transition: opacity 0.4s;
    border-radius: 8px;
    color: var(--main-color);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    display: none;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    transition: opacity 0.4s;
}

.input:focus::placeholder {
    opacity: 0;
    color: var(--main-color);
}

.button:hover {
    background-color: var(--main-color);
    color: white;
    box-shadow: none;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search input {
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    border-radius: 20px;
    box-shadow: var(--inset-input-shadow);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transition: 0.4s;
    width: 250px;
}

/* .search input.active {} */

.search input:focus {
    outline: none;
    transition: opacity 0.4s;
}

.search input:focus:placeholder {
    opacity: 0;
}

.actions {
    display: flex;
    justify-content: center;
    padding: 25px 0 0 0 !important;
}

.actions .icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    border-radius: 5px;
    line-height: 36px;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);

}

.actions .icon:first-child {
    margin-right: 10px;
    color: var(--main-color);
    background-color: #ecefff;
    font-size: 16px;
}

.actions .icon:last-child {
    margin-right: 10px;
    color: var(--red);
    background-color: var(--trans-red);
    font-size: 16px;
}

[dir="rtl"] .actions .icon:first-child {
    margin-right: 10px;
}

[dir="ltr"] .actions .icon:first-child {
    margin-left: 10px;
}


.actions .icon:hover {
    transform: scale(1.2);
}

[dir="rtl"] .actions .icon:first-child {
    margin-left: 10px;
}


/* ! TABLE */

@media (max-width:930px) {
    .track_responses {
        margin-top: 15px;
    }
}

@media(max-width:615px) {
    .tracking {
        font-size: 18px;
        font-weight: bolder;
    }

    .table tr {
        font-size: 12px;
    }
}

@media(max-width:580px) {
    .tracking {
        font-size: 18px;
        font-weight: bolder;
    }

    .tracking a {
        padding: 12px;
        font-size: 10px;
        width: 200px;
    }

    .button {
        margin-top: 10px;
    }
}

/*! ADMIN GROUP*/

.hoverd {
    cursor: pointer;
    transition: 0.4s;
}

.hoverd:hover {
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
}