.chat_container {
    position: relative;
    margin-top: 60px;
    background-color: var(--light-grey);
    width: 100%;
    height: 580px;
    border-radius: 32px;
    border: 4px solid var(--secondry-color);
    display: flex;
    z-index: 1000000;
}

[dir="ltr"] .chat_container {
    box-shadow: var(--main-shadow);
}

[dir="rtl"] .chat_container {
    box-shadow: var(--main-arabic-shadow);
}