.vs_navigation_bar {
    background-color: var(--white);
    width: 280px;
    padding: 20px 0 20px 0px;
    margin-top: 70px;
    border-radius: 21px;
    height: 580px; 
    overflow-y: auto; /* or overflow-x: scroll; */
    white-space: nowrap; /* This ensures that the content doesn't wrap to the next line */
}

[dir='ltr'] .vs_navigation_bar{
    box-shadow: var(--main-shadow);
    margin-left: 10px;
}
[dir='rtl'] .vs_navigation_bar{
    box-shadow: var(--main-arabic-shadow);
    margin-right: 10px;
}

.vs_navigation_bar::-webkit-scrollbar{
    width: 0px;
}

.vs_navigation_bar .add_survey{
    display: flex;
    align-items: center;
    color: var(--main-color);
}

[dir='rtl'] .vs_navigation_bar .add_survey .icon{
    margin-left: 10px;
}



.vs_navigation_bar li {
    padding: 20px;
    background-color: var(--light-grey);
    margin: 15px 10px;
    border-radius: 21px;
    transition: var(--transition);
    position: relative;
    width: 250px;
}

.vs_navigation_bar li a {
    color: var(--main-color);
    display: flex;
    align-items: center;
}

.vs_navigation_bar li .info {
    display: block;
    font-size: var();
}

[dir='ltr'] .vs_navigation_bar li .info{
    margin-left: 10px;
}
[dir='rtl'] .vs_navigation_bar li .info{
    margin-right: 10px;
}

.vs_navigation_bar li .info span.name {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}

[dir='ltr'] .vs_navigation_bar li .info span.name{
    right: 15px;
}
[dir='rtl'] .vs_navigation_bar li .info span.name{
    left : 15px;
}

/* *HOVER */
.vs_navigation_bar li:hover {
    background-color: var(--main-color);

}


.vs_navigation_bar li:hover span {
    color: var(--white);
}

/* *HOVER */
