@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: "Open Sans", "sans-serif";
    margin: 0;
    background-color: var(--white);
    counter-reset: Numbers;
}

:root{
    --main-color:#084C61;
    --secondry-color:#0E7290;
    --light-grey:#f1f2f7;
    --white:white;
    --transition:0.4s;
    --main-shadow:5px 5px 0 0 var(--main-color);
    --grey-shadow: 0px 25px 25px -12px #e0e0ec;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--light-grey);
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

/* ! Global */

.page{
    display: flex;
    min-height: 100vh;
}

/* ! LOGO */
p.logo{
    position:absolute;
}
/* ! LOGO */

/*! START  SIDEBAR */

.page .sidebar{
    background-color: var(--main-color);
    color: var(--white);
    padding: 20px 0 20px 0px;
    position: relative;
    width: 280px;
    margin-top: 110px;
    border-top-right-radius: 70px;
}

.page .sidebar li{
    margin: 0px 0 0px 10px;
    display: flex;
    align-items: center;
    transition:var(--transition) ;
    padding:18px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
}

.page .sidebar li:nth-child(1){
    margin-top: 70px;
}

/* *HOVER */
.page .sidebar li.btn:hover,
.page .sidebar li.active:active{
    background-color: var(--white);
}
/* *HOVER */

.page .sidebar li i{
    /* color: var(--white); */
    color: var(--secondry-color);
    margin-right: 10px;
}

.page .sidebar li a span{
    color: var(--white);
    transition:var(--transition) ;
}

.page .sidebar li:hover a span{
    color: var(--main-color);
}

/* * CURVE OUTSIDE */

.page .sidebar li:hover::before{
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    right: 0;
    top: -90px;
    border-radius: 50%;
    box-shadow: 50px 50px 0 10px var(--white);
}

.page .sidebar li:hover::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    right: 0;
    bottom: -90px;
    border-radius: 50%;
    /* background-color: aqua; */
    box-shadow: 50px -50px 0 10px var(--white);
}
/* * CURVE OUTSIDE */

/* ? RESPONSIVE */
@media(max-width:767px){
    .page .sidebar{
        width: 62px;
        padding: 10px;
    }
    .page .sidebar li{
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .page .sidebar ul li a{
        justify-content: center;
    }

    .page .sidebar ul li span{
        display: none;
    }

    .page .sidebar li:hover::before{
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        right: -10px;
        top: -50px;
        border-radius: 50%;
        box-shadow: 35px 35px 0 10px var(--white);
    }
    
    .page .sidebar li:hover::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        right: -10px;
        bottom: -50px;
        border-radius: 50%;
        /* background-color: aqua; */
        box-shadow: 35px -35px 0 10px var(--white);
    }
}
/* ? RESPONSIVE */
/*! END  SIDEBAR */

.content{
    width: 100%;
    overflow: hidden;
}

.main-section{
    display: flex;
}

/* ! START HEADER  */
header{
    background-color: white;
    box-shadow:var(--grey-shadow);
    margin-top: 20px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .current-page{
    margin-left: 15px;
    font-size: 17px;
    color: var(--main-color);
    font-weight: bold;
}

header .icons{
    color: var(--main-color);
    margin-right: 10px;
}

header .icons i{
    padding: 10px;
    position: relative;
}

/* ! END HEADER  */

/* ! START CLASSES  */
.page .content .classes{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    margin: 30px;
    padding: 20px;
}

.page .content .classes .class{
    min-height: 236px;
    background-color: var(--light-grey);
    margin: 0 10px 10px 10px;
    border-radius:50px;
    box-shadow:var(--main-shadow) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--transition);
}

.page .content .classes .class:hover{
    background-color: var(--main-color);
}


.page .content .classes .class p:first-child{
    position: relative;
    top: 40px;
    left: 30px;
    font-weight: bold;
    color: var(--main-color);
    font-size: 20px;
}

.page .content .classes .class:not(:last-child) p:last-child{
    position: relative;
    bottom: 25px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    color: var(--main-color);
    font-size: 14px;
}

.page .content .classes .class:last-child p{
    position: relative;
    top: 40px;
    left: 30px;
    font-weight: bold;
    color: var(--main-color);
    font-size: 20px;
}


.page .content .classes .class:hover p{
    color:var(--white) !important;
}

/* ! END CLASSES  */


/* ! START MATERIAL */

.page .content .material{
    margin: 80px 40px;
    width: calc(100% - 350px);
    padding: 10px;
}

.page .content .material .week1,
.page .content .material .week2{
    background-color: var(--light-grey);
    box-shadow: var(--main-shadow);
    border-radius: 8px;
}

.page .content .material .week1 .head,
.page .content .material .week2 .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    transition: var(--transition);
}

/* * HOVER */
.page .content .material .week1 .head:hover,
.page .content .material .week2 .head:hover{
    background-color: var(--main-color);
}
/* * HOVER */

.page .content .material .week1 .head .info,
.page .content .material .week2 .head .info{
    display: flex;
    align-items: center;
}


.page .content .material .week1 .head .info .num,
.page .content .material .week2 .head .info .num{
    font-weight: bold;
    font-size: 30px;
    color: var(--secondry-color);
    margin-right: 30px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .content .material .week1 .head .info .num::before,
.page .content .material .week2 .head .info .num::before{
    counter-increment: Numbers;
    content:  counter(Numbers);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
    border: solid 4px var(--secondry-color);
    z-index: -1;
    left: 0;
}

.page .content .material .week1 .head .info .week,
.page .content .material .week2 .head .info .week{
    margin-left:30px ;
    font-size: 20px;
    color: var(--main-color);
    font-weight: bolder;
    transition: var(--transition);
}

/* *HOVER */
.page .content .material .week1 .head:hover .info .week,
.page .content .material .week2 .head:hover .info .week{
    color: var(--light-grey);
}
/* *HOVER */

.page .content .material .week1 .head i,
.page .content .material .week2 .head i,
.page .content .material .week2 .data .mat i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--main-color);
    transition: var(--transition);
}

/* *HOVER */
.page .content .material .week1 .head:hover i,
.page .content .material .week2 .head:hover i,
.page .content .material .week2 .data .mat:hover i{
    color: var(--light-grey);
}

/* *HOVER */

.page .content .material .wek:not(:first-child){
    margin-top: 35px;
}

/* *week 2 */

.page .content .material .week2{
    height: auto;
    padding-bottom: 20px;
}

.page .content .material .week2 .data .mat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    margin: 0 20px;
    padding: 15px;
    border-radius: 14px;
    margin-top: 15px;
}

/* *HOVER */
.page .content .material .week2 .data .mat:hover{
    background-color: var(--main-color);
}
/* *HOVER */


.page .content .material .week2 .data .mat p{
    font-size: 18px;
    color: var(--main-color);
    transition: var(--transition);
}

/* *HOVER */
.page .content .material .week2 .data .mat:hover p{
    color: var(--light-grey);
}

/* *HOVER */

/* *week 2 */


/* *week3 */

.page .content .material .week2 .data .main .mat-details{
    background-color: var(--white);
    margin: 0 50px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.page .content .material .week2 .data .main .mat-details .mat-det{
    display: flex;
    align-items: center;
    padding: 15px;
}

.page .content .material .week2 .data .main .mat-details .mat-det i{
    font-size: 14px;
    color: var(--main-color);
    margin-right: 15px;
}

.page .content .material .week2 .data .main .mat-details .mat-det p{
    color: var(--main-color);
}
/* *week3 */

/* ! END MATERIAL */

/* ! START RIGHT SIDEBAR */

.right-sidebar{
    width: 275px;
    background-color: var(--light-grey);
    padding: 15px 30px;
    margin-top: 80px;
    border-radius: 19px;
    box-shadow: var(--main-shadow);
    height: fit-content;
    margin-right: 50px;
}

.right-sidebar p.title{
    font-size: 28px;
    color: var(--main-color);
    font-weight: bolder;
    margin-top: 30px;
}

.right-sidebar .instructor-profile{
    display: flex;
    align-items: center;
    margin-top: 15px;
}


.right-sidebar .instructor-profile img{
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.right-sidebar .instructor-profile p{
    color: var(--main-color);
    font-weight: bolder;
}

.right-sidebar .section{
    margin-top: 20px;
    color: var(--main-color);
    /* font-weight:; */
}

.right-sidebar .section p{
    position: relative;
    display: flex;
    align-items: center;
}

.right-sidebar .section p:not(:last-child){
    margin-bottom: 10px;
}


.right-sidebar .section p:first-child::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 8px;
    background-color: var(--main-color);
    left: -15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}





/* ! LEFT RIGHT SIDEBAR */