
/* ! LOGO */
img.logo {
    position: absolute;
    width: 150px;
    top: 10px;
    left: 25px;
}

/* ! LOGO */

/* ! START LOGO RESPONSIVE */
/* img.logo-responsive{
    display: none;
} */

/* img.logo{
    display: none;
} */
img.logo-responsive{
    position: absolute;
    width: 120px;
    left: -27px;
    top: 20px;
}

@media(max-width:767px){
    img.logo{
        display: none;
    }
    img.logo-responsive{
        display:block;
        position: absolute;
        width: 100px;
        left: -18px;
        top: 30px;
    }
}
/* !END LOGO RESPONSIVE */