/* loading.module.css */
.dot_spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: var(--dot-spinner-color, #183153);
    /* Default color is set here */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
}

.dot_spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60%;
    width: 60%;
}

.dot_spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    /* Use the CSS variable */
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot_spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot_spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot_spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot_spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot_spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot_spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot_spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot_spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot_spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot_spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot_spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot_spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot_spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot_spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}