.contact-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}


.chat-contacts{
    /* margin-left: 20px; */
    background-color: var(--white);
    width: 250px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    height: 580px;
    overflow: auto;
}

.chat-contacts::-webkit-scrollbar{
    width: 0px;
}

.search-container{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 15px;
    border-bottom-right-radius: 32px;
    box-shadow: var(--grey-shadow);
}

.search-container input{
    margin-top: 15px;
    background-color: var(--light-grey);
    padding: 10px 0px 10px 40px;
    border-radius: 39px;
    margin-right: 5px;
    box-shadow: 3.2px 3.2px 8px #c8d0e7 inset,
    -3.2px -3.2px 8px #ffff inset;
    border: none;
    caret-color: var(--main-color);
    position: relative;
    color: var(--main-color);
}

.search-container i{
    position: absolute;
    top: 50%;
    left: 30px;
    color: var(--main-color);
}

.search:focus{
    outline: none;
}

.chat-contacts ul li{
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    /* margin-left: 20px; */
    padding-left: 10px;
}

.chat-contacts ul li:not(:last-child){
    margin-bottom: 15px;
}

.chat-contacts .single-chat{
    margin-left:15px;
}

.chat-contacts ul li .single-chat-message{
    overflow: hidden;
}

.chat-contacts li:hover {
    background-color: var(--light-grey);
}


.chat-contacts li::before{
    content: '';
    position: absolute;
}

.chat-contacts li::after{
    content: '';
    position: absolute;
}

.chat-contacts li:hover:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0px;
    top: -80px;
    border-radius: 50%;
    box-shadow: 40px 40px 0 var(--light-grey);
}


.chat-contacts li{
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}


.chat-contacts li:not(:last-child):hover::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: -80px;
    border-radius: 50%;
    box-shadow: 40px -40px 0 var(--light-grey);
}