.date-question-container {
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    margin-right: 15px;
    width: fit-content;
    padding: 10px;
}

.main-section .question-container .date-question-container p {
    color: var(--main-color);
    font-size: 15px;
}