@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
:root {
    --main-color: #084C61;
    --secondry-color: #0E7290;
    --light-grey: #f1f2f7;
    --white: white;
    --transition: 0.4s;
    --main-shadow: 5px 5px 0 0 var(--main-color);
    --grey-shadow: 0px 25px 25px -12px #e0e0ec;
    --title-font-size: 24px;
    --subtitle-font-size: 20px;
    --normal-font-size: 18px;
    --xs-font-size: 16px;
    --title-font-weight: bold;
}



/* ! SIDEBAR RESPONSIVE */
@media(max-width:767px) {
    .page .sidebar {
        width: 62px;
        padding: 10px;
    }

    .page .sidebar li {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .page .sidebar ul li a {
        justify-content: center;
    }

    .page .sidebar ul li span {
        display: none;
    }

    .page .sidebar li:hover::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        right: -10px;
        top: -50px;
        border-radius: 50%;
        box-shadow: 35px 35px 0 10px var(--white);
    }

    .page .sidebar li:hover::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        right: -10px;
        bottom: -50px;
        border-radius: 50%;
        box-shadow: 35px -35px 0 10px var(--white);
    }

    .page .sidebar .profile img{
        width: 40px;
        margin-right: 0px;
        margin-left: -10px;
    }

    .page .sidebar a.profile p{
        display: none;
    }
}

/* !SIDEBAR RESPONSIVE */


/* ! START HEADER */
header .current-page{
    font-size: 16px;
}
/* ! END HEADER */

/* ! START LOGO RESPONSIVE */
img.logo-responsive{
    display: none;
}

@media(max-width:767px){
    img.logo{
        display: none;
    }
    img.logo-responsive{
        display:block;
        position: absolute;
        width: 100px;
        left: -18px;
        top: 30px;
    }
}
/* !END LOGO RESPONSIVE */

/* ! START CLASSES RESPONISIVE */
@media(max-width:767px){
    .page .content .classes .class{
        height: 150px;
    }
}
/* ! END CLASSES RESPONISIVE */


/* !START MATERIAL RESPONSIVE */

.main-section .responsive-bar{
    display: none;
}


@media(max-width:930px){
    .main-section{
        flex-direction: column;
        align-items: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .right-sidebar{
        display: none;
    }

    .main-section .responsive-bar{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .main-section .responsive-bar a{
        padding: 20px;
        background-color:var(--light-grey);
        box-shadow: var(--main-shadow);
        color: var(--main-color);
        transition: var(--transition);
    }

    .main-section .responsive-bar a:hover{
        background-color: var(--main-color);
        color: var(--white);
    }

    .main-section .responsive-bar a:first-child{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .main-section .responsive-bar a:last-child{
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .page .content .material {
        width: calc(100% - 10%);
        margin: 20px 10px;
    }
}

@media(max-width:615px){
    .main-section .responsive-bar{
        width: 250px;
        font-size: 9px;
        font-weight: bolder;
    }

    .page .content .material .week1 .head .info .week,
    .page .content .material .week2 .head .info .week {
        font-size: 15px;
    }

    .page .content .material .week2 .data .mat p {
        font-size: 13px;
    }

    .page .content .material .week2 .data .main .mat-details .mat-det p{
        font-size: 12px;
    }
}

/* !END MATERIAL RESPONSIVE */


/* ! START  ASSIGNment RESPONISIVE */
@media(max-width:767px){
    .page .content .assingments .assignment{
        height: 150px;
    }
}
/* ! END ASSIGNment RESPONISIVE */