.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--main-color);
    box-shadow: var(--main-shadow);
    border: 3px solid var(--secondry-color);
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--main-color);
}

[dir="ltr"] .button{
    box-shadow: var(--main-shadow);
    letter-spacing: 5px;

}

[dir="rtl"] .button{
    box-shadow: var(--main-arabic- shadow);
}


.button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid var(--main-color);
    box-shadow: 4px 5px 17px -4px #268391;
}

.button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color:var(--main-color);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.button:hover::before {
    width: 250%;
}