
.date-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15px;
}

.main-section .container .date{
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    box-shadow: var(--inset-input-shadow);
}

.main-section .container .date p{
    color: var(--white);
    font-size: 15px;
}
