.assignments{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: calc(100% -  300px);
}


.col{
    display: flex;
    flex-direction: column;
    position: absolute;
}

[dir="rtl"] .col{
    left: 0;
}

[dir="ltr"] .col{
    right: 0;
}



