.assignment_details{
    background-color: var(--light-grey);
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--grey-shadow);
    padding: 20px;
}

[dir="rtl"] .assignment_details{
    margin-left: 15px;
}
[dir="ltr"] .assignment_details{
    margin-right: 15px;
}

.assignment_container{
    background-color: white;
    border-radius: 10px;
    padding:20px;
}

.container{
    /* display: flex; */
    /* align-items: center; */
    padding: 8px;
    color: var(--main-color);
    padding: 20px 0;
}

.container:not(:last-child){
    border-bottom: 1px var(--main-color) solid;
}

[dir="rtl"] .container .icon{
    margin-left: 15px;
}
[dir="ltr"] .container .icon{
    margin-right: 15px;
}

@media (max-width:930px){
    .assignment_details{
        margin-top: 15px;
    }
}