.addEditUser {
    background-color: var(--grey-color);
    padding: 10px;
    z-index: 10000000;
    border-radius: 32px;
    border: 5px solid var(--secondry-color);
    position: relative;
}

[dir="rtl"] .addEditUser {
    box-shadow: var(--main-arabic-shadow);
}

[dir="ltr"] .addEditUser {
    box-shadow: var(--main-shadow);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
    border-radius: 50%;
    border: 4px solid var(--main-color);
    /* padding: 2px; */
    width: 115px;
    height: 115px;
    margin: 10px auto;
}

.img,
.img_upload {
    padding: 3px 0 0 0;
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    cursor: pointer;
    transition: 0.4s;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}


.img_upload {
    width: 100px;
    animation: upDown 2s infinite ease-in-out;
    /* Add the animation here */
}

.img:hover,
.img_upload:hover {
    transform: scale(1.2);
}

.loaded {
    padding: 1px;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }
}

.custom-file-upload {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    background: linear-gradient(270deg, #3fa1a9, #79f1a4);
    margin-bottom: 25px;
}

.img-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
}

.form_container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

[dir="rtl"] .row {
    margin-left: 20px;
}

[dir="ltr"] .row {
    margin-right: 20px;
}

.row:not(:last-child) {
    margin-bottom: 15px;
}

.input_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input_container label {
    margin-bottom: 10px;
    color: var(--main-color);
}

.input_container input {
    padding: 10px;
    box-shadow: 5px 5px 10px 0 rgba(22, 27, 29, 0.12)inset,
        -5px -5px 10px 0 rgba(250, 251, 255, 0.8) inset;
    width: 300px;
    border: solid 1px #084661;
    caret-color: #084661;
    border-radius: 20px;
    height: 52px;
}


.input_container input[type="date"] {
    width: 100%;
    padding: 0px 0px 0px 20px;
    font-size: 14px;
    color-scheme: dark;
    background-color: var(--grey-color);
    width: 300px;
    color: var(--main-color);
}

.input_container input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 15px;
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 18px;
}


.input_container input[type="number"]::-webkit-inner-spin-button,
.input_container input[type="number"]::-webkit-outer-spin-button {
    display: none;
}


@media (max-width:700px) {
    .row {
        flex-direction: column;
    }

    .input_container {
        margin-bottom: 15px;
    }

}