.lec_sec_container {
    background-color: var(--white);
    margin: 0 20px;
    border-radius: 14px;
    margin-top: 15px;
    transition: all 850ms ease;
}

.lec_sec_container.active_slide {
    transition: 350ms;

}

.lec_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 8px;
    border-radius: 14px;
    width: 100%;
}



/* *HOVER */
.lec_sec:hover,
.lec_sec.active {
    background-color: var(--main-color);
}

/* *HOVER */

.lec_sec .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lec_sec:hover .icon,
.lec_sec.active .icon {
    color: var(--light-grey);
    transform: rotate(180deg);
}

.lec_sec .icon {
    font-size: 50px;
    color: var(--main-color);
    transition: var(--transition);
}

.lec_sec .leftIcon {
    margin-top: 8px;
    font-size: 18px;
    color: var(--main-color);
    transition: var(--transition);
}

.customFileInput {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.fileInput {
    display: none;
}

.lec_sec:hover .leftIcon,
.lec_sec.active .leftIcon {
    color: var(--white);
    margin-top: 0;
}


.lec_sec p {
    font-size: 18px;
    color: var(--main-color);
    transition: var(--transition);
}

[dir="ltr"] .lec_sec p {
    margin-left: 10px;
}

[dir="rtl"] .lec_sec p {
    margin-right: 10px;
}

/* *HOVER */
.lec_sec:hover p,
.lec_sec.active p {
    color: var(--light-grey);
}

/* *HOVER */


.file {
    padding: 20px 5px;
    display: flex;
    align-items: center;
    margin: 0 15px;
}


.open_file {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: var(--main-color);
}

.file_icon {
    font-size: 20px;
    color: var(--main-color);
}

[dir="ltr"] .file_icon {
    margin-right: 10px;
}

[dir="rtl"] .file_icon {
    margin-left: 10px;
}

.file_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file_head:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}

.file_head .leftIcon {
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.file_head .leftIcon:hover {
    transform: scale(1.1);
}

[dir="ltr"] .file_head .leftIcon,
[dir="ltr"] .loadingIcon {
    margin-right: 20px;
}

[dir="rtl"] .file_head .leftIcon,
[dir="rtl"] .loadingIcon {
    margin-left: 20px;
}

.load {
    margin: 20px 20px 0 20px;
}


@media(max-width:615px) {
    .lec_sec p {
        font-size: 13px;
    }
}