.chat {
    position: relative;
    width: 89%;
}


.messages {
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 30px 30px;
    overflow-y: scroll;
}

.sender {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    word-wrap: break-word;
    align-self: flex-start;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0;
}

.receiver {
    background-color: var(--white);
    color: var(--main-color);
    padding: 10px 20px;
    margin: 5px;
    word-wrap: break-word;
    align-self: flex-end;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
}


.main__chatcontent {
    flex-grow: 1;
    padding: 20px 40px;
}

.content__header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebe7fb;
}

.current_chatting_user {
    display: flex;
    align-items: center;
}

.current_chatting_user p {
    margin: 0;
    font-weight: 600;
}

.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings .btn_nobg {
    color: #000;
}

.content__body {
    max-height: calc(100vh - calc(100vh / 2));
    overflow: auto;
}

.chat__item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    transform: scale(0);
    animation-name: showIn;
    animation-duration: 0.2s;
    /* or: Xms */
    animation-iteration-count: 1;
    animation-direction: normal;
    /* or: normal */
    animation-timing-function: cubic-bezier(0.88,
            0.19,
            0.37,
            1.11);
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    /* or: backwards, both, none */
    animation-delay: 0.2s;
    /* or: Xms */
}

[dir="ltr"] .chat__item {
    transform-origin: right;
}

[dir="rtl"] .chat__item {
    transform-origin: left;
}

@keyframes showIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.chat__item .avatar {
    background: #fff;
    padding: 1px;
}

[dir="ltr"] .chat__item .avatar {
    margin-right: 0px;
    margin-left: 20px;
}

[dir="rtl"] .chat__item .avatar {
    margin-right: 20px;
    margin-left: 0px;
}

.chat__item__content {
    padding: 15px;
    max-width: 50%;
    min-width: 215px;
}

.chat__item__content .chat__meta {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.chat__item__content .chat__meta span {
    font-size: 14px;
    color: #8693d3;
    user-select: none;
}

.chat__msg {
    user-select: none;
}

/* .chat__item.other {} */

[dir="ltr"] .chat__item.other {
    flex-direction: row-reverse;
    transform-origin: left;
}

[dir="rtl"] .chat__item.other {
    flex-direction: row;
    transform-origin: right;
}

.chat__item.other .chat__item__content {
    background-color: #fff;
    color: #000;
    max-width: 50%;
}

/* 
[dir="ltr"] .chat__item.other .chat__item__content {
    border-radius: 10px 10px 10px 0;
}

[dir="rtl"] .chat__item.other .chat__item__content {
    border-radius: 10px 0px 10px 10px;
} */

[dir="ltr"] .chat__item.other .avatar {
    margin-right: 20px;
    margin-left: 0px;
}

[dir="rtl"] .chat__item.other .avatar {
    margin-right: 0px;
    margin-left: 20px;
}

.chat__item.other .chat__item__content .chat__meta span {
    color: #d1d1d1;
}

.content__footer {
    padding-top: 30px;
}

.sendNewMessage {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
}

.sendNewMessage button {
    width: 36px;
    height: 36px;
    background-color: #ecefff;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--main-color);
    padding: 0;
    border-radius: 5px;
    line-height: 36px;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.sendNewMessage button:hover {
    transform: scale(1.2);
}

.sendNewMessage button i {
    display: block;
}

.sendNewMessage input {
    flex-grow: 1;
    padding: 0 15px;
    background-color: transparent;
    border: none;
    outline: none;
}

#sendMsgBtn {
    background-color: var(--main-color);
    color: #fff;
}

.img {
    width: 30px;
    border-radius: 50%;
}