.course_details {
    display: flex;
    width: 100%;
    /* justify-content: flex-end; */
}

.col {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* align-items: center; */
}

@media (max-width:930px) {
    .course_details {
        flex-direction: column;
        align-items: center;
    }

    .col {
        width: 100%;
    }
}