/* ! START GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", "sans-serif";
    margin: 0;
    background-color: var(--white);
    counter-reset: Numbers;
}

:root {
    --main-color: #084C61;
    --secondry-color: #0E7290;
    --light-grey: #f1f2f7;
    --white: white;
    --transition: 0.4s;
    --main-shadow: 5px 5px 0 0 var(--main-color);
    --grey-shadow: 0px 25px 25px -12px #e0e0ec;
    --title-font-size: 24px;
    --subtitle-font-size: 20px;
    --normal-font-size: 18px;
    --xs-font-size: 16px;
    --title-font-weight: bold;
    --inset-shadow:inset 3.2px 3.2px 8px 0 #c8d0e7,
    inset -3.2px -3.2px 8px 0 #c8d0e7;
    --inset-input-shadow:-5px -5px 10px 0 #0a6d8be4 inset,
                        5px 5px 10px 0 #161b1d1b inset;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html::-webkit-scrollbar{
    width: 8px;
}

html::-webkit-scrollbar-thumb{
    background-color:var(--main-color);
    border-radius: 8px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar-track{
    background-color:var(--light-grey);
}



/* !END Global */

.page {
    display: flex;
    min-height: 100vh;
}

/* ! LOGO */
img.logo {
    position: absolute;
    width: 150px;
    top: 20px;
    left: 25px;
}

/* ! LOGO */

/*! START  SIDEBAR */

.page .sidebar {
    background-color: var(--main-color);
    color: var(--white);
    padding: 20px 0 20px 0px;
    position: relative;
    width: 280px;
    margin-top: 110px;
    border-top-right-radius: 70px;
}

.page .sidebar a.profile {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 40px;
    color: white;
}

.page .sidebar .profile img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}


.page .sidebar li {
    margin: 0px 0 0px 10px;
    display: flex;
    align-items: center;
    transition: var(--transition);
    padding: 18px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
}

.page .sidebar li:nth-child(1) {
    margin-top: 20px;
}

/* *HOVER */
.page .sidebar li:hover {
    background-color: var(--white);
}

/* *HOVER */

.page .sidebar li i {
    color: var(--secondry-color);
    margin-right: 10px;
}

.page .sidebar li a span {
    color: var(--white);
    transition: var(--transition);
}

.page .sidebar li:hover a span {
    color: var(--main-color);
}

/* * CURVE OUTSIDE */
.page .sidebar li::before{
    content: '';
    position: absolute;
    transition: var(--transition);
}

.page .sidebar li::after{
    content: '';
    position: absolute;
    transition: var(--transition)
}

.page .sidebar li:hover::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    top: -80px;
    border-radius: 50%;
    box-shadow: 40px 40px 0 white;
}

.page .sidebar li:hover::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: -80px;
    border-radius: 50%;
    box-shadow: 40px -40px 0 var(--white);
}

/* * CURVE OUTSIDE */


/*! END  SIDEBAR */

.content {
    width: 100%;
    overflow: hidden;
}

.main-section {
    display: flex;
    justify-content: space-between;
}

/* ! START HEADER  */
header {
    background-color: white;
    box-shadow: var(--grey-shadow);
    margin-top: 20px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .current-page {
    margin-left: 15px;
    font-size: 17px;
    color: var(--main-color);
    font-weight: bold;
}

header .icons {
    margin-right: 10px;
}

header .icons a i {
    padding: 10px;
    position: relative;
    color: var(--main-color);
}

/* ! END HEADER  */

/* ! START RIGHT SIDEBAR */

.right-sidebar {
    width: 275px;
    background-color: var(--light-grey);
    padding: 15px 30px;
    margin-top: 60px;
    border-radius: 19px;
    box-shadow: var(--main-shadow);
    height: fit-content;
    margin-right: 50px;
}

.right-sidebar p.title {
    font-size: 28px;
    color: var(--main-color);
    font-weight: bolder;
    margin-top: 30px;
}

.right-sidebar .instructor-profile {
    display: flex;
    align-items: center;
    margin-top: 15px;
}


.right-sidebar .instructor-profile img {
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.right-sidebar .instructor-profile p {
    color: var(--main-color);
    font-weight: bolder;
}

.right-sidebar .section {
    margin-top: 20px;
    color: var(--main-color);
}

.right-sidebar .section a {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.right-sidebar .section a:not(:last-child) {
    margin-bottom: 10px;
}


.right-sidebar .section a:first-child::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 8px;
    background-color: var(--main-color);
    left: -15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* ! LEFT RIGHT SIDEBAR */

/* * START SEONDARY SIDEBAR */
.secondary-sidebar {
    background-color: var(--white);
    box-shadow: var(--main-shadow);
    width: 280px;
    padding: 20px 0 20px 0px;
    margin-top: 70px;
    border-radius: 21px;
    height: 580px;
    overflow-y: auto; /* or overflow-x: scroll; */
    white-space: nowrap; /* This ensures that the content doesn't wrap to the next line */
}

.secondary-sidebar::-webkit-scrollbar{
    width: 0px;
}

.secondary-sidebar li {
    padding: 20px;
    background-color: var(--light-grey);
    margin: 15px 10px;
    border-radius: 21px;
    transition: var(--transition);
    position: relative;
    width: 250px;
}

.secondary-sidebar li a {
    color: var(--main-color);
    display: flex;
    align-items: center;
}

.secondary-sidebar li .info {
    display: block;
    margin-left: 10px;
    font-size: var();
}

.secondary-sidebar li .info span.name {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    right: 15px;
}

/* *HOVER */
.secondary-sidebar li:hover {
    background-color: var(--main-color);

}

.secondary-sidebar li:hover i {
    color: white;
}

.secondary-sidebar li:hover span {
    color: var(--white);
}

/* *HOVER */

/* * START SEONDARY SIDEBAR */


/* DATE */
.date-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15px;
}

.main-section .container .date{
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    box-shadow: var(--inset-input-shadow);
}

.main-section .container .date p{
    color: var(--white);
    font-size: 15px;
}
/* DATE */

/* ! START SURVEY */

.main-section .container {
    background-color: var(--light-grey);
    padding: 20px 0 20px 20px;
    margin: 40px 20px 0;
    border-radius: 21px;
    height: auto;
    width: calc(100% - 300px);
    box-shadow: var(--grey-shadow);
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-section .container .question .options{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section .container .question .options .option{
    padding: 20px 20px 20px 80px;
    background-color: var(--white);
    margin: 20px;
    width: 70%;
    border-radius: 50px;
    position: relative;
    transition: var(--transition);
    z-index: 10;
    overflow: hidden;
}

.main-section .container .question .option::before,
.main-section .container .question .option::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99;
}
.main-section .container .question .option::before{
    transform: rotate(5deg);
}
.main-section .container .question .option::after {
    transform: rotate(2deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.main-section .container .question .option:hover{
    background-color: var(--main-color);
    color: var(--main-color);
}

/* .main-section .container .question .option p:hover::before{
    background-color: var(--main-color);
} */


.button{
    background-color: var(--white);
    color: var(--white);
    box-shadow:var(--inset-shadow);
    padding: 15px 50px;
    border-radius: 12px;
    position: relative;
    align-self: flex-end;
    margin-right: 20px;
}

.button::before{
    content: "Submit";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 10%);
    height: calc(100% - 30%);
    border-radius: 12px;
    background-color: var(--main-color);
}

.survey-date-container{
    display: flex;
    justify-content: space-between;
}

.main-section .container .survey-date{
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    box-shadow: var(--inset-input-shadow);
}

.main-section .container .survey-date p{
    color: var(--white);
    font-size: 11px;
}

/* ! END SURVEY */