.files_list {
    background-color: var(--light-grey);
    border-radius: 10px;
    border: 3px dashed #cbd5e0;
    padding: 10px;
    margin-top: 10px;
    height: 140px;
    overflow-y: scroll;
    width: 100%;
}

.file {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #084c6128;
    border-radius: 10px;
}

.file:not(:last-child) {
    margin-bottom: 10px;
}

.button {
    padding: 5px 8px;
    /* background-color: var(--main-color); */
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--main-color);
    cursor: pointer;
    border: 1px solid var(--main-color);
    word-break: break-all;
}

.delete {
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}

[dir="rtl"] .delete {
    margin-right: 10px;
}

[dir="ltr"] .delete {
    margin-left: 10px;
}