/* ! START MAIN MODAL  */
.modal {
    padding: 2%;
    width: 35%;
    border: none;
    border-radius: 10px;
    box-shadow: var(grey-shadow);
    animation: fade-slide-in-from-top 0.3s ease-in-out;
    margin: auto;
    position: relative;
    color: var(--main-color);
}

.deleteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width:1100px) {
    .modal {
        width: 50%;
    }
}

@media (max-width:768px) {
    .modal {
        width: 85%;
    }
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.65);
}

.exIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e8424271;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exIcon i {
    width: 79px;
}


.icon {
    height: 47px;
    color: #e84242;
}

.buttons {
    margin-top: 20px;
}


.cancel {
    padding: 15px 20px;
    background-color: white;
    border: var(--main-color) solid 3px;
    border-radius: 8PX;
    color: var(--main-color);
    transition: 0.4s;
    cursor: pointer;
}

[dir="rtl"] .cancel {
    margin-right: 15px;
}

[dir="ltr"] .cancel {
    margin-left: 15px;
}


.cancel:hover {
    background-color: var(--main-color);
    color: white;
    scale: 1.1;
}